
  button, select {
	border: 1px var(--themewhite) solid;
	color: var(--themewhite);
  }
  
  .BigButton {
	background-color: var(--themesubwhite);
	border: 1px var(--themewhite) solid;
	color: white;
  }
  
  button:disabled, select:disabled, button:disabled:hover {
	opacity: .2;
  }
  
  button:hover, select:hover {
	background-color: var(--themewhite);

  }
  

/**
* LOBBY
**/

body {
	background-color: var(--themeblack);
	margin: 0;
	position: relative;
	overflow-y: visible;
  }

.lobbyDiv {
	background-color: var(--themeblack);
	height: auto;
	border-radius: 10px;
	position: relative;
	width: 75%;
    float: left;
    margin: 0;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    display: grid;
	margin-top: 5%;
}

.buttonDiv {
	display: block;
	position: relative;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    display: grid;
	gap: 25px;
	padding-top: 90px;
	width: 100%;
}

#right {
	display: none;
	background-color: var(--themeblack);
	z-index:1200;
	border-left: 1px white solid;
}

#middle {
	float:left;  
	width: 100%; 
	height:100%; 
	z-index: 999;
	position: relative;
}

.qrDiv {
	position: absolute;
    z-index: 99999;
    top: calc(100% - 270px) !important;
	min-width: 175px;
    min-height: 175px;
}

.qrDiv.neonwhite.neonborder:not(:has(img)) {
    display: none;
}

.neonwhite.neonborder:not(:has(img))::after {
    display: none;
}

.themeRed {
	background: transparent;
	/* background-color: var(--teamone); */
	color: var(--white);
}

.themeBlue {
	background: transparent;
	/* background-color: var(--teamtwo); */
	color: var(--white);
}

.genericMenuDiv {
    padding-right: 8px;
    padding-top: 8px;
    height: 3%;
    padding-left: 8px;
}

#swapTabButton {
	background-image: url(../../common/images/menu/turnwhite.png);
	background-size: 13% 90%;
	background-repeat: no-repeat;
	background-position: center;
	display: none;
	float: left;
}

#swapTabButton:hover {
	background-image: url(../../common/images/menu/turn.png);
}

.chevronContainer {
	background-color: var(--themeblack);
	border-left: 1px white solid;
}
  
#chevron {
	color: var(--themeblack);
	-webkit-text-stroke: 1px white;
}

.typeBox {
	border-top: solid white 1px;
}

.gameLog {
    background-color: var(--themeblack) !important;
    float: right;
    margin-right: 2.5%;
    width: 95%;
    margin-left: 2.5%;
    color: var(--themewhite) !important;
}

.recipeLog {
	background-color: var(--themeblack) !important;
	float: right;
	margin-right: 2.5%;
	width: 97.5%;
	height: 97%;
	display: none;
	overflow-y: scroll;
	-ms-overflow-style: none;
  	scrollbar-width: none;
}

.recipeLog::-webkit-scrollbar {
	display: none;
  }

.typeBox {
	margin-top: 0px;
	margin-right: 2.5%;
	width: 97.5%;
}

.gameLogo {
	height: min(30vh, .6em);
	font-size: min(27vw, 30vh);
    margin: 0 auto;
    width: fit-content;
	font-family: 'bigfont';
	background-color: var(--themeblack);
	text-align: center;
	position:relative;
	display: flex;
    align-items: flex-end;
	padding: 0;
	margin-top: 2%;
	z-index:10;
}

.firstplace {
	padding: 6px;
	padding-right: 10px;
	padding-left: 10px;
    margin-bottom: 35px;
    font-size: 20px;
    position: relative;
	width: fit-content;
	z-index: 99999;
}

.gameLogo img{
	width: auto;
	height: 90%;
	margin: 0 auto;
}

.gamelog p:nth-child(odd) {
	background-color: var(--themesubblack);
}

.playerPicsContainer{
    height: 100%;
    width: 100%;
	position:relative;
}

.playerPicsLobby{
	width: 100%;
	height: 100%;
	color:white;
    position: absolute;
	bottom: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 180px);
	justify-content: center;
	align-items: center;
}

.customImageDisplay {
	display:block;
	float:left;
	margin-top: -100px;
	height: 100px;
	width: 180px;
    position: relative;
}

@media (max-width: 1200px) {
}

.customImageDisplayDraft {
	position:relative;
	display:block;
	float:left;
	width:100%;
	height:90%;
	margin-top: 7%;
}
.customImagePart {
	position: absolute;
	height: 100%;
	width: 100%;
	max-width: 150px;
	margin: 0 auto;
}

.playerReadyTag {
    text-align: center;
    width: fit-content;
    display: flex;
    padding: 3px;
    margin: 0 auto;
	position: relative;
	top: 15px;
}


.myPlayerNameTag{
	color: var(--themegreen) !important;
}

.playerNameTag{
	font-family:'smallfont';
	font-weight: 100;
	text-align:center;
	position: relative;
	float: left;
	overflow: hidden;
  	text-overflow: ellipsis;
	width: 100% !important;
}

.playerNameTag:hover{
	color: white;
	overflow:visible;
}

.characterSelectionDivLeft{
	position:relative;
	float:left;
	width: 0%;
	height: 100%;
}

.characterSelectionDivMiddle{
	position:absolute;
	float:left;
	height: 100%;
	width:100%;
	
}

.characterSelectionDivRight{
	position:relative;
	float:left;
	width: 0%;
	height: 100%;
	
}

.joinGameButton{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 65px;
    font-size: 22px;
    min-width: 100px;
}

.readyButton{
    display: block;
    position: relative;
    margin: 0 auto;
    height: 65px;
    font-size: 22px;
    min-width: 100px;
}

.editCharacterButton {
    display: block;
    position: relative;
    margin: 0 auto;
    height: 65px;
    font-size: 22px;
    min-width: 100px;
}

.startGameButton{
	display: block;
	position: absolute;
    height: 50px;
    width: 200px;
    bottom: 5.2%;
    left: 50%;
	margin-left:-100px;
	color: white;
	font-size: 35px;
	font-family: 'bigfont';
}

.characterSelection{
	position: relative;
	margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius: 25px;
    background-color: var(--themesubblack);
}

.characterSelection:not(:has(*)) {
    display: none;
}

.customPickerLeft {
	float: left;
	width: 80%;
	height: 80%;
	margin-top: 10%;
	margin-left: 10%;
	-webkit-appearance: none;
	border-color: transparent;
	padding: 0;
	border-radius: 40px;
}

.customPickerLeft::-webkit-color-swatch-wrapper {
	padding: 0;
}
.customPickerLeft::-webkit-color-swatch {
	border: none;
}

.colorpickercheckbox {
	width:15%;
	height: 18%;
	margin-left: 7%;
	float: left;
	margin-top: 27%;
}


.customImageButtonRight {
	position:relative;
	display:block;
	float:left;
	width: 20%;
	margin-left: 10%;
	margin-top: 15%;
	height: 40%;
}

.customImageButtonLeft {
	position:relative;
	display:block;
	float:left;
	width: 20%;
	margin-left: 20%;
	margin-top: 15%;
	height: 40%;
}

.characterSelectionDivSeperator {
	height: 33%;
}

.characterCanvas {
	float:left;
	width: 100%;
	height: 100%;
	padding-right: 50px;
    padding-left: 50px;
	box-sizing: border-box;
  }

.characterCanvasDraft {
	float:left;
	width: 100%;
	margin-left:-7%;
	height: 100%;
  }




.teamblock {
	position: relative;
	height: 220px;
	float:left;
	overflow:visible;
	display: grid;
    place-items: center;
	box-sizing: border-box;
	width: 100%;
}

.teamChoosingButton {
	margin-top: 5%;
	width: 55%;
	height: 40%;
	font-size: 66%;
	position: absolute;
	left: -5%;
	top: 45%;
	font-size: 0.65rem;
	background-color: var(--themesubblack);
}

#moreTeamsButton{
	left: 52.5%;
}

.controllerSwitcherDiv {
    position: absolute;
    margin: 0 auto;
    margin-top: 5px;
    word-wrap: break-word;
    width: 100px;
    color: black;
    font-size: 13px;
    text-align: center;
    left: 5%;
	top: 0;
	z-index: 2000;
}

.controllerSwitcherDiv p {
	margin: 0;
	pointer-events: none;
	color: white;
	user-select: none;
}

.controllerSwitcherButton {
	width: 50px;
	height: 50px;
	background-color: var(--themesubyellow);
	border-radius: 5px;
	border: 1px black solid;
	z-index: 1500;
}

.controllerSwitcherDiv.inGameLog {
	left: unset;
	top: unset;
	right: 50%;
	margin-right: -75px;
	bottom: 0;
	transform:translate(0%,-15%);
}


  

.buttoncontainer {
	position: absolute;
	left:50%;
	transform: translate(-50%, 0%);
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	width: 320px;
	height: 210px;
	aspect-ratio: 3 / 2;
	bottom: 25%;
}

.buttoncontainer button {
	border-radius: 25px;
	border-color: black;
	background-color: var(--themewhite);
	border: solid black 5px;
	box-sizing: border-box;
	color: black;
	font-size: 75px;
	text-align: center;
	justify-content: center;
    align-items: center;
	aspect-ratio: 1 / 1;
	width: 100px;
    height: 100px;
}

.rotateRightButton {
	transform: scaleX(-1);
}

.highscores {
	border-left: 1px solid var(--themegreen);
	display: block;
  	padding: 15px;
	float: right;
    width: 25%;
    box-sizing: border-box;
    color: white;
	min-height: 450px;
    box-sizing: border-box;
}

.highscores div {
	width: 100%;
	box-sizing: border-box;
}

.highscores .spanscore {
	float: right;
}

@media (max-width: 1000px) {
	.controllerSwitcherDiv {
		font-size: 10px;
	}
	.lobbyDiv, .highscores, #canvasWrapper {
		display: none !important;
	}
	.gameLogo {
		margin-top: 15vh;
	}
}

@media (max-width: 560px) {
	.buttoncontainer button {
		font-size: 56px;
	}
}

.buttoncontainer button:active {
	background-color: var(--themesubwhite);
}